# Environment files
.env

# Python cache files
__pycache__/
*.pyc

# Output and logs
SonicScribe/output/
SonicScribe/logs/

# Virtual environment
SS

# Build artifacts
sonicscribe.egg-info/
build/
dist/